# Required values
MYEMAIL_JKS_PATH="./keystore.jks"
MYEMAIL_JKS_PASSWORD="1234"

# Optional values - current values reflect defaults
MYEMAIL_PORT=25
MYEMAIL_DOMAIN="mydomain.com"
MYEMAIL_MAX_SIZE=10485760
MYEMAIL_LOG_FILTER=0