# Required values / Blank PKCS12 Path will disable TLS
MYSMTP_PKCS12_PATH=keystore.p12
MYSMTP_PKCS12_PASSWORD=1234
MYSMTP_DOMAIN=mydomain.com

# Optional values - current values reflect defaults
MYSMTP_PORT_SERVER=25
MYSMTP_PORT_RELAY=465
MYSMTP_MAX_SIZE=10485760
MYSMTP_LOG_FILTER=0